<% layout("/layouts/boilerplate") %>
<style>
    .pri{
        margin: auto;
        margin-top: 10px;
        margin-left: 400px;
    }
    .para{
        margin-top: 10px;
    }
    </style>
<div>
    <h2 class="pri">Privacy Policy</h2>
    <p class="para">
      We respect your privacy and are committed to protecting your personal data.
       When you use our platform, we collect information such as your name, contact details, 
       location, and payment methods to ensure smooth bookings, personalized experiences, 
       and secure transactions. This data is never sold and is shared only with trusted 
       third parties when essential for processing payments, complying with legal requirements, 
       or improving our services. We use industry-standard security practices to protect your
        data against unauthorized access. You have full control over your information and can update, 
        download, or delete your data at any time. By continuing to use our services, you consent to
         the practices outlined in this Privacy Policy and agree to be contacted for essential updates or 
        service-related communication.
    </p>
</div>